
.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.film{
display: flex;
align-items: center;
justify-content: center;
  height: 50vh;
  width: 30vh;
 flex-grow: 1;


}
.film>a{
visibility: hidden;
position: absolute;
color: white;

}
.pom{
  width: 100%;
  height: 100%;

}
.pom.hidden{
  height: 100%;
  width: 100%;
  visibility: hidden;
}
.film>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  
}

