.fix {
    position: fixed;
    z-index: 1;
}

.content {
    display: flex;
    align-content: stretch;
    /* flex-wrap: wrap; */
    /*height:100vh;*/
}


.left {
    height: calc(100% - 50px);
    width: 20%;
    /* aborder-right: 1px solid black; */
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 1;
}

.main {
    width: 80%;
    margin-left: 21%;
    margin-top: 50px;
    margin-right: 1%;
}

.baner {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.title {
    color: #f58807;
    font-weight: 500;
    font-size: 4vh;
    text-align: center;
}

.text{
    color: #f58807;
    font-weight: 500;
    font-size: 2vh;
}

.left>.text {
    display: flex;
    justify-content: space-around;
}

.ocena {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    /* \background-color: aqua; */
}

.ocena>.icon {
    height: 80%;
    width: auto;
    padding: 0;
}


.line {
    display: flex;
    align-items: center;
    background-color: rgb(192, 192, 192);
    width: 80%;
    height: 2vh;
    border-radius: 15px;
}


.percent {
    background-color: #f58807;
    color: white;
    height: 100%;
    text-align: right;
    border-radius: 15px;
    /* font-size: 80%; */
    font-weight: 400;
}


.tom {
    width: 69%;
}

.imdb {
    width: 83%;
}

.video {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 38%;
    z-index: 0;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cast{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.person{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.person > .title{
    margin: auto;
    padding: auto;
    font-size: 100%;
    margin-left: 3vh;
}
.imgHolder{
    display: inline-block;
    width: 20vh ;
    height: 20vh;
    border-radius: 50%;
    overflow: hidden;
}

.img{
    max-width: 100%;
}

.info{
    color: #f58807;
}

@media (max-width: 811px) and (orientation: portrait) {
    .left {
        height: 100%;
        width: 100%;
        border-bottom: 1px solid black;
        margin-bottom: 2%;
        position: relative;
        top: 0px;
    }

    .content {
        flex-wrap: wrap;
    }

    .video {
        height: auto;
    }

    .ocena>.icon {
        height: 80%;
        width: 40px;
        padding: 0;
    }

    .main {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .cast{
        justify-content: left;
        margin-left: 3vh;
    }
    .person{
        margin-top: 2vh;
    }
    .imgHolder{
        width: 80px;
        height: 80px;
    }
    .info{
        margin-right: 2%;
        margin-left: 2%;
    }
}