body{
    margin: 0px;
    background-color: #252525;
}
.nav{
    background-color: #F58807;
    height: 60px;
    margin: 0px;
    display: flex;
}

.meni{
    height: 60px;
}

.icon{
    padding: 10px;
    height: 40px;
    width: 40px;
}

.elements{
    display: flex;
    align-items: center;
}

#src_bar{
    box-sizing: border-box;
    height: 40px;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #252525;
}